#!/bin/bash

# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
alias c=clear && printf '\e[3J'

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# programs
alias subl='open -a "Sublime Text"'
alias preview="open -a '$PREVIEW'"
alias xcode="open -a '/Developer/Applications/Xcode.app'"
alias filemerge="open -a '/Developer/Applications/Utilities/FileMerge.app'"
alias safari="open -a safari"
alias firefox="open -a firefox"
alias opera="open -a opera"
alias chrome="open -a google\ chrome"
alias chromium="open -a chromium"
alias dashcode="open -a dashcode"
alias macdown="open -a macdown"
alias tower="open -a tower"
alias f='open -a Finder'
alias fireworks="open -a '/Applications/Adobe Fireworks CS6/Adobe Fireworks CS6.app'"
alias photoshop="open -a '/Applications/Adobe Photoshop CS6/Adobe Photoshop.app'"
alias imageoptim="open -a ImageOptim"
alias markoff="open -a Markoff"
alias caret="open -a Caret"

# general shortcuts
alias pro="cd ~/Projects"
alias bl="open -a google\ chrome\ canary 'http://browserling.com'"
alias rm="trash"

# be nice
alias please=sudo

# handy things
alias bunyip='node ~/code/bunyip/cli.js'

# historial navigation
alias hg='history | grep'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
	export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
	colorflag="-G"
	export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# Avoid progress bar and follow redirects
alias curl="curl -sL"
alias headers="curl -I -s -X GET"

# List all files colorized in long format
alias l="ls -lh ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -lah ${colorflag}"

# List only directories
alias lsd=" -lF ${colorflag} | grep --color=never '^d'"

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# `cat` with beautiful colors. requires Pygments installed.
# sudo easy_install Pygments
# alias cat='pygmentize -O style=monokai -f console256 -g'
alias cat='bat'

# IP addresses
alias ip="digshort myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

alias ping='prettyping --nolegend'

alias top='htop'

# Flush DNS cache
alias dns_flush="sudo killall -HUP mDNSResponder;sudo killall mDNSResponderHelper;sudo dscacheutil -flushcache"
alias dns_setup="networksetup -setdnsservers Wi-Fi 1.1.1.1 1.0.0.1 2606:4700:4700::1111 2606:4700:4700::1001; networksetup -getdnsservers Wi-Fi"

# Firewall
alias firewall_off="sudo defaults write /Library/Preferences/com.apple.alf globalstate -int 0"
alias firewall_on="sudo defaults write /Library/Preferences/com.apple.alf globalstate -int 2"

# git
alias git=hub
alias gurl="hub browse"
alias gup='g up && git-garbage'
alias gpu=git" push -f origin HEAD^:master"

# npm
alias npmp="npm publish"
alias npma="npm adduser"
alias npmi="pnpm install --no-lock"
alias npml="npm list --depth=0"
alias npmu="npm uninstall"
alias npmig="npm install -g"
alias npmlg="npm list -g --depth=0"
alias npmug="npm uninstall -g"
alias npmlink="npm link"
alias npmurl="npm-url"
alias t="npm test"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
type -t hd > /dev/null 2>&1 || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
type -t md5sum > /dev/null 2>&1 || alias md5sum="md5"

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# Shortcuts
alias g='hub'
alias v="vim"

# File size
alias fs="stat -f \"%z bytes\""

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Enable/Disable shadow on screenshots
alias enableshadow="defaults write com.apple.screencapture disable-shadow -bool false ; killall SystemUIServer"
alias disableshadow="defaults write com.apple.screencapture disable-shadow -bool true ; killall SystemUIServer"

alias createRamDisk="chmod 755 ~/dotfiles/utils/MoveTempFoldersToRamDisk.sh && ~/dotfiles/utils/MoveTempFoldersToRamDisk.sh && echo reboot pls"
alias deleteRamDisk="sudo rm -rf /System/Library/StartupItems/RamFS"

# youtube downloader
alias yt-video="youtube-dl -citk --max-quality mp4 --write-auto-sub --write-sub --sub-lang en,es"
alias yt-audio="youtube-dl -citk --max-quality mp3 --audio-format mp3 --extract-audio --audio-format mp3 --audio-quality 192k"

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "$method"="lwp-request -m '$method'"
done

# Make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 10'"
alias hax="growlnotify -a 'Activity Monitor' 'System error' -m 'WTF R U DOIN'"

# Faster npm for europeans
command -v npm > /dev/null && alias npme="npm --registry http://registry.npmjs.eu"

# npm offline
# install npm dependencies from cache
# https://github.com/npm/npm/issues/2568#issuecomment-30626394
alias npmo="sudo npm install --cache-min 999999999"

# Control the system
alias restart='sudo shutdown -r now'
alias shutdown='sudo shutdown now'

# windsurf
alias windtoday="curl -4 http://wttr.in/MJV"
